body {
    margin: 0;
    padding: 0;
    font-family: HiraMinProN-W3;
    background-color: #f8f8f8;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:max;
    height:80px;
    padding-bottom:10px;
}

.title-kato{
    font-size:45px;
}

.left-info{
    margin:0 100px;
}

.center-info{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:150px;
}

.barber-pole{
    width:70px;
}

.title{
    font-size:30px;
    padding-top:15px;
}


.barber-pole {
    width: 60px;
    height: auto;
    padding-top:15px;
}

.title {
    margin: 0 20px;
}

.shop-name {
    font-size: 48px;
    font-weight: bold;
    margin: 0 100px;
}

.right-info, .left-info {
    text-align: center;
    margin:0 100px;
}

.hours, .phone-number {
    font-size: 20px;
    font-weight: bold;
}

.right-info p:first-child, .left-info p:first-child {
    margin-bottom: 15px;
    font-size: 16px;
}

.header-logo1{
    width:100vw;
    height:100vh;
}

.header-logo img{
    width:100%;
    height:100%;
    object-fit:cover;
}


.header-fix {
    background-color: #f5f5f5;
    height: 70px; /* ヘッダーの高さを調整 */
    display: flex;
    align-items: center; /* 垂直方向の中央揃え */
    justify-content: space-between; /* 水平方向のスペース調整 */
    top: 0;
    z-index: 1000; /* 他の要素の上に表示 */
    transition: top 0.3s ease-in-out; /* スクロール時の動きをスムーズに */
    width:100%;
}

.header-fix.fixed {
    position: fixed; /* 固定表示 */
    top: 0;
    left: 0;
}

.naver-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width:100%;
    text-align: center;
    list-style: none; /* リストのデフォルトの箇条書きスタイルを削除 */
}

.scissors-photo{
    margin-top:12px;
    margin-left:40px;
    transform: rotate( 197deg );
}



.navbar-link {
    color: #000;
    text-decoration: none;
}

.navbar-link span {
    font-size: 14px;
    color: #666;
}

.navbar-icon {
    width: auto;
    height: 40px;
}

.contact-btn {
    text-align: center;
    color: #fff;
    background-color: #444;
    padding: 10px;
    border-radius: 10px;
    height: auto;
    display: flex;
    width: 15vw;
    align-content: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-right:10px;
}

.contact-text {
    display: block;
    font-size: 14px;
}

.phone-number1 {
    display: block;
    font-size: 18px;
    font-weight: bold;
}

/*-----------------------section1---text-section--------------------------*/

.session1-all{
    display:flex;
    width:100vw;
}

.session1{
    width:100vw;
}


.text-section{
    font-size:22px;
    width:55vw;
}

.store-info{
    font-size:40px;
    border-bottom: 1px solid #000;
    display: inline-block;
    width:50vw;
    padding-left:200px;
    padding-top:40px;
    margin-bottom:50px;
    padding-bottom:20px;
    align-items:center;
    margin-top:120px;
}

.detail-info{
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align:right;
    padding-right:100px;
    padding-left:50px;
    font-size:22px;
}

.store-detail{
    padding-top:50px;
}


.photo-section{
    display: flex;
    justify-content: right;
    align-items: right;
    flex-direction: column;
}
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:40vw;
    text-align: right;
}

.slider img {
    width:25vw;/*スライダー内の画像を26vwにしてレスポンシブ化*/
    height:auto;
    text-align: right;
    justify-content: flex-end;
}

.slider .slick-slide {
	transform: scale(0.8);/*左右の画像のサイズを80%に*/
	transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
	opacity: 0.6;/*透過50%*/
}

.slider .slick-slide.slick-center{
	transform: scale(1);/*中央の画像のサイズだけ等倍に*/
	opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 22%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -2.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -2.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
	margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
    padding-bottom:50px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:16px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}
/*-----------------section2--------------------*/
.section2-set{
    display:flex;
}
.section-inmenu{
    text-align:right;
    display:flex;
    flex-direction:column;
    width:60vw;
}

.parent-title{
    display: flex;
    justify-content: flex-end;
}

.section-title{
    font-size:40px;
    border-bottom: 1px solid #000;
    width:50vw;
    text-align: right;
    padding-right: 200px;
    padding-bottom: 20px;
    margin-top:120px;
}

.section2-photo {
    width: 40vw; /* 固定の幅を設定しない */
    max-width: 45%; /* 最大幅を設定 */
    height: auto; /* アスペクト比を保つ */
    object-fit: contain; /* 画像が要素内に収まるように調整 */
    margin-top:220px;
}


.all-menu{
    display:flex;
    font-size:20px;
    text-align:center;
    justify-content: space-around;
}

.title-cut{
    font-size:30px;
    display:flex;
    justify-content: center;
    padding:10px;
    padding-bottom:50px;
}

.title-other{
    font-size:30px;
    display:flex;
    justify-content: center;
    padding-bottom:50px;
}

.cut-menu{
    padding-top:50px;
    display:flex;
    flex-direction:column;
    text-align:right;
    margin-left:50px;
}

.other-menu{
    padding-top:50px;
    display:flex;
    flex-direction:column;
    text-align:right;
}

.menu-name{
    padding:20px 10px;
}

/*--------------------------------------*/
.menu-raw{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*--------------------------------------*/
.s2-subphoto{
    display:flex;
    padding-top:60px;
    padding-left:200px;
}

.s2-comb{
    width:200px;
    padding-top:50px;
    transform: rotate( 5deg );
}

.s2-scissors{
    width:200px;
    padding:20px;
    transform: rotate( -30deg );
}

/*---------------------session3-----------------------*/
.address{
    display:flex;
}

.adress-char{
    display:flex;
    flex-direction: column;
    width:60vw;
}

.place-info{
    font-size:40px;
    padding:20px 0px 20px 150px;
    border-bottom: 1px solid #000;
    width:50vw;
    margin-top:120px;
}

.all-info{
    font-size:20px;
    padding:50px 60px;
    text-align:left;
    width:40vw;
}

.address-info{
    padding:20px 0;
}

.map{
    padding-top: 120px;
    margin:50px;
    margin-top:140px;
}

.address-detail{
    display:flex;
    text-align: right;
    justify-content: flex-end;
    display:block;
}

/*--------------------------session4------------------------*/
div.cal_wrapper {
    padding-top: 30px;
    padding-left:80px;
    margin-top:120px;
}
div.schedule_wrapper {
    padding: 10px 0px;
    width: 50vw;
    border: solid 1px #CCC;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #666;
}
div.schedule_wrapper h3 {
    padding: 0px 10px;
    font-weight: normal;
    margin: 0px;
    font-size: 12px;
    color: #666;
}
div.schedule_wrapper div.schedule_list {
    padding: 0px 10px;
    margin: 0px;
}
 
div.cal_wrapper table.cal tr th p {
    float: left;
    padding: 5px;
    margin: 0px;
    color: #666;
    font-size: 12px;
}
div.cal_wrapper table.cal tr th div.cal_ui {
    float: right;
}
 
div.cal_wrapper table.cal tr th div.cal_ui input {
    border: solid 1px #CCC;
    background-color: #FFF;
    font-size: 12px;
    margin: 0px 1px;
    padding: 1px 3px;
    border-radius: 2px;
}
div.cal_wrapper table.cal td {
    border: solid 1px #000;
}
table{
  border-collapse: collapse;
}

div.cal_wrapper table.cal tr td {/*数字が入ってるやつの一つ一つのサイズ感を変更する*/
    font-size: 15px;
    text-align: center;
    padding: 2px;
    width:50px;
    height:50px;

}
div.cal_wrapper table.cal tr.headline td {
    padding: 5px 0px;
}
div.cal_wrapper table.cal tr.headline {
    background-color: #EEE;
}
/*カレンダー表組の装飾*/
div.cal_wrapper table.cal tr td div {
    position: relative;
    font-size: 15px;
    display: flex;
    text-align: center;
    align-items:center;
    background-color: #FFF;
    border-radius: 3px;
}
div.cal_wrapper table.cal tr td div span {
    display: none;
    position: absolute;
    top: 20px;
    left: 0px;
    width: 180px;
    border: solid 1px #EEE;
    background-color: #FFF;
    text-align: left;
    padding: 5px;
    z-index: 10;
    color: #000;
    font-weight: normal;
    line-height: 1.5em;
    box-shadow: 1px 1px 3px #666;
}
 
/* Holydayの装飾 */
div.cal_wrapper table.cal tr td div.Holyday {
    font-weight: bolder;
    color: whitesmoke;/*祝日の文字色。赤色にしてます。*/
    background-color: #ff0033;
}
 
 
 

 
.sat {
  color:black;
  background: #D0E8FF;/*「土曜日」見出し部分の背景色。水色にしてます。*/
  font-weight: bold;
}
 
.sun {
  color:black;
  background-color: #FDDFFC;/*「日曜日」見出し部分の背景色。ピンク色にしてます。*/
  font-weight: bold;
}

/*------------sesison4文字のところ----------*/

.session4-set{
    display:flex;
}

.session4-detail{
    text-align:right;
    display:flex;
    flex-direction:column;
    padding-left:120px;
    width:60vw;
}

.parent-session4{
    display: flex;
    justify-content:flex-end;
}

.session4-title{
    font-size:40px;
    border-bottom: 1px solid black;
    width:50vw;
    text-align:rightr;
    padding-bottom:20px;
    padding-top:30px;
    padding-right:140px;
    margin-top:50px;
}

.all-detail{
    display:flex;
    flex-direction:column;
    font-size:20px;
    text-align: center;
    justify-content: center;
}

.all-list{
    display: flex;
    text-align: right;
    justify-content: space-around;
    padding-top:50px;
}

.title-holiday{
    font-size:22px;
    padding:30px;
    padding-top:20px;
    text-align:left;
}

.detail-holiday{
    padding:20px;
}

.attention{
    padding-top:50px;
    padding-bottom:100px;
}

.holiday-content{
    display: flex;
    flex-direction: column;
    text-align:right;
}
 
/*--------------------------footer------------------------------*/
.footer{
    height:100%;
    background-color: #f5f5f5;
    text-align:center;
}

.footer-contents{
    display:flex;
    flex-direction: column;
    text-align:center;
    align-items: center;
}

.footer-title{
    font-weight: bold;
    font-size:22px;
    padding-top:20px;
    padding-bottom:10px;
}

.footer-detail{
    padding:3px;
}

.phone-num{
    display: flex;
}

.phone{
    height:20px;
}

.footer-last{
    padding-bottom: 14px;
}
.footer-01{
    display:flex;
    flex-direction:row;
}
.footer-bottom{
    margin-bottom:40px;
}
/*--------------------レスポンシブ対応--------------------*/
@media screen and (max-width: 768px) {
    /*-------------header-------------------*/
    .header-fix {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding:0px;
    }
    .top-btn, .info-btn, .menu-btn, .map-btn, .bd-btn, .contact-btn{
        display: none;
    }
    .title-kato {
        font-size: 30px;
        margin-right:10vw;
    }
    .naver-list {
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .header-logo{
        width:100%;
        height:auto;
    }
    .title-kato {
        font-size: 30px;
    }

    .scissors-photo {
        margin: 10px;
    }

    .navbar-icon {
        height: 35px;
    }

    /*-----------------session1--------------*/
    .session1-all{
        display:flex;
        flex-direction: column;
    }
    .store-info{
        font-size:30px;
        width:80%;
        text-align:right;
        text-align: left;
        padding:20px 10px;
        margin-bottom:20px;
        padding-left:35px;
    }
    .text-section{
        width:100%;
        padding-bottom:30px;
        padding-top:30px;
    }
    .detail-info{
        font-size:18px;
        padding:0px;
    }
    .slider{
        width:100%;
    }
    .slider img {
        width:75vw;/*スライダー内の画像を26vwにしてレスポンシブ化*/
        height:auto;
    }
    .photo-section{
        padding-top:30px;
    }
    .navbar-icon{
        padding-right:20px;
    }
    .slick-next {/*次へ矢印の位置と形状*/
        right: 8%;
        transform: rotate(45deg);
    }
    .slick-prev {/*戻る矢印の位置と形状*/
        left: 8%;
        transform: rotate(-135deg);
    }
    /*-----------------session2--------------*/
    .section2-photo{
        display:none;
    }
    .section2-set{
        display:flex;
        padding:0px;
        margin:0px;
        justify-content: right;
        width:100%;
        align-items:right;
    }
    .section-inmenu{
        display:flex;
        text-align: right;
        width:100%;
        justify-content: right;
        padding:0px;
        margin:0px;
    }
    .section-title{
        width:80%;
        padding:20px 10px;
        text-align:right;
        justify-content: right;
        font-size:30px;
        margin-bottom: 20px;
        padding-right:35px;
    }
    .all-menu{
        width:100%;
        flex-direction: column;
        text-align:right;
        justify-content: right;

    }
    .cut-menu{
        padding:0px;
        margin:0px;
    }
    .other-menu{
        padding:0px;
    }
    .title-cut{
        padding-top:25px;
        font-size:25px;
    }
    .title-other{
        font-size: 30px;
        display: flex;
        justify-content: center;
        padding: 10px;
        padding-top:25px;
        padding-bottom: 50px;
        font-size:25px;
    }
    .s2-subphoto{
        padding:0px;
        flex-direction: column;
        display:none;
    }
    .s2-scissors{
        width:100px;
    }
    .s2-comb{
        width:100px;
    }
    .store-detail{
        padding:20px;
    }
      /*------------------session3-----------------*/
      .place-info{
          padding:20px 10px;
          width:80%;
          font-size:30px;
          padding-left:35px;
          margin-top:50px;
      }
      .address{
          display:flex;
          flex-direction: column;
      }
      .address-info{
          padding-bottom: 20px;
      }
      .adress-char{
        width:100%;
      }
      .all-content{
          padding:0px 20px;
      }
      .all-info{
          padding:0px;
          width:100%;
      }
      .menu-name{
          padding:20px;
      }
      .map{
          width:80%;
          height:30vh;
          text-align:center;
          align-items:center;
          margin:0 auto;
      }

    /*-------------------session4-----------------*/
    .session4-set{
        flex-direction:column-reverse;
    }
    .session4-title{
        font-size:30px;
        padding:20px 10px;
        width:80%;
        padding-right:35px;
        margin-top:50px;
    }
    .session4-detail{
        padding:0px;
        width:100%;
    }
    .all-list{
        justify-content: space-between;
    }
    .title-holiday{
        padding-left:40px;
        padding-top:20px;
        font-size:25px;
    }
    .attention{
        padding:50px 15px;
    }
    div.cal_wrapper {
        padding-top: 30px;
        padding-left:0px;
        width:80%;
        text-align:center;
        margin:0 auto;
        padding-bottom:55px;
    }
    .attention{
        padding:50px 20px;
        font-size:18px;
    }
    /*--------footer----------*/
    .footer-title{
        font-size:20px;
    }
}

@media screen and (max-width: 1024px) {/*ーーーーーーータブレット対応ーーーーーーーー*/
    /*-----header------*/

}