body {
    margin: 0;
    padding: 0;
    font-family: HiraMinProN-W3;
    background-color: #f8f8f8;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:max;
    height:80px;
    padding-bottom:10px;
}

.left-info{
    margin:0 100px;
}

.center-info{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:150px;
}

.barber-pole{
    width:70px;
}

.title{
    font-size:30px;
    padding-top:15px;
}


.barber-pole {
    width: 60px;
    height: auto;
    padding-top:15px;
}

.title {
    margin: 0 20px;
}

.shop-name {
    font-size: 48px;
    font-weight: bold;
    margin: 0 100px;
}

.right-info, .left-info {
    text-align: center;
    margin:0 100px;
}

.hours, .phone-number {
    font-size: 20px;
    font-weight: bold;
}

.right-info p:first-child, .left-info p:first-child {
    margin-bottom: 15px;
    font-size: 16px;
}

.header-logo1{
    width:100vw;
    height:100vh;
}

.header-logo img{
    width:100%;
    height:100%;
    object-fit:cover;
}


.header-fix {
    background-color: #f8f8f8;
    height: 70px; /* ヘッダーの高さを調整 */
    display: flex;
    align-items: center; /* 垂直方向の中央揃え */
    justify-content: space-between; /* 水平方向のスペース調整 */
    padding: 0 20px; /* 内側の余白調整 */
    top: 0;
    z-index: 1000; /* 他の要素の上に表示 */
    transition: top 0.3s ease-in-out; /* スクロール時の動きをスムーズに */
    width:100%;
}

.header-fix.fixed {
    position: fixed; /* 固定表示 */
    top: 0;
    left: 0;
}

.naver-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width:100%;
    text-align: center;
    list-style: none; /* リストのデフォルトの箇条書きスタイルを削除 */
}

.scissors-photo{
    margin-top:12px;
    margin-left:40px;
    transform: rotate( 197deg );
}



.navbar-link {
    color: #000;
    text-decoration: none;
}

.navbar-link span {
    font-size: 14px;
    color: #666;
}

.navbar-icon {
    width: auto;
    height: 40px;
}

.contact-btn{
    text-align: center;
    color: #fff;
    background-color: #444;
    padding: 10px 80px 10px 0px;
    border-radius: 10px;
    width:140px;
}

.contact-text {
    display: block;
    font-size: 14px;
}

.phone-number1 {
    display: block;
    font-size: 18px;
    font-weight: bold;
}

/*-----------------------section1---text-section--------------------------*/
.session1{
    *{
        outline: 2px red solid;
    }
}
.session1-all{
    display:flex;
}


.text-section{
    font-size:22px;
    width:300px;
}

.store-info{
    font-size:40px;
    border-bottom: 1px solid #000;
    display: inline-block;
    width:700px;
    padding-left:200px;
    padding-top:40px;
}

.detail-info{
    padding-top:100px;
    padding-left:100px;
}

.detail-info{
    padding:20px;
}

/*-----------------------section1---photo-section--------------------------*/
/* .photo-section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: flex-end;
} */
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:50%;
}

.slider img {
    width:26vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
}

.slider .slick-slide {
	transform: scale(0.8);/*左右の画像のサイズを80%に*/
	transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
	opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
	transform: scale(1);/*中央の画像のサイズだけ等倍に*/
	opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 22%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
	margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:16px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}
/*-----------------section2--------------------*/
.section2-set{
    display:flex;
}
.section-inmenu{
    border-bottom: 1px solid #000;
    text-align:right;
    display:flex;
    flex-direction:column;
}

.parent-title{
    display: flex;
    justify-content: flex-end;
    
}

.section-title{
    font-size:40px;
    border-bottom: 1px solid #000;
    width:600px;
    padding-left:100px;
    text-align: right;
    padding-right: 100px;
    padding-bottom: 20px;
}

.section2-photo {
    width: auto; /* 固定の幅を設定しない */
    max-width: 45%; /* 最大幅を設定 */
    height: auto; /* アスペクト比を保つ */
    object-fit: contain; /* 画像が要素内に収まるように調整 */
}


.all-menu{
    display:flex;
    font-size:20px;
    text-align:center;
    justify-content: center;
}

.title-cut{
    font-size:30px;
    display:flex;
    justify-content: center;
    padding:10px;
    padding-bottom:50px;
}

.title-other{
    font-size:30px;
    display:flex;
    justify-content: center;
    padding-bottom:50px;
}

.cut-menu{
    padding-top:50px;
    padding-left:100px;
    display:flex;
    flex-direction:column;
    text-align:right;
}

.other-menu{
    padding-left: 50px;
    padding-top:50px;
    display:flex;
    flex-direction:column;
    text-align:right;
}

.menu-name{
    padding:20px 10px;
}

.s2-subphoto{
    display:flex;
    padding-top:60px;
    padding-left:200px;
}

.s2-comb{
    width:200px;
    padding-top:50px;
    transform: rotate( 5deg );
}

.s2-scissors{
    width:200px;
    padding:20px;
    transform: rotate( -30deg );
}
